<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\clark\Desktop\OPTICAVL NEWPROJECT\24052016\OpticaVL.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/app</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppContext" Order="2" Enabled="False">
          <Destination Path="Server=127.0.0.1;Port=5432;Database=opticaVL;User Id=postgres;Password=root;Integrated Security=true;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OpticaVL.Models.AppContext, OpticaVL" MigrationConfiguration="OpticaVL.Migrations.Configuration, OpticaVL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OpticaVL.Models.ApplicationDbContext" Order="3" Enabled="False">
          <Destination Path="Server=127.0.0.1;Port=5432;Database=opticaVLAuth;User Id=postgres;Password=root;Integrated Security=true;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OpticaVL.Models.ApplicationDbContext, OpticaVL" MigrationConfiguration="OpticaVL.AuthMigrations.Configuration, OpticaVL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=127.0.0.1;Database=testAuth;User Id=postgres;Password=root;Port=5432" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuthConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=127.0.0.1;Database=testAuth;User Id=postgres;Password=root;Port=5432" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppContext-Web.config Connection String">
      <ParameterValue>Server=127.0.0.1;Port=5432;Database=opticaVL;User Id=postgres;Password=root;Integrated Security=true;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OpticaVL.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=127.0.0.1;Port=5432;Database=opticaVLAuth;User Id=postgres;Password=root;Integrated Security=true;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="OpticaVL.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>