<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/images/logo.jpg" width="200" height="150" />
        </div>
        <div class="col-md-7">
            <div class="row text-center">
                <h4><span class="text-danger">LUNETTERIE FAMILLE SAINTE</span> - <span class="text-primary">OPTIQUE OTTICA</span></h4>
            </div>
            <div class="row text-center">
                <span>Avenue du 24 Janvier Imm. CFAO - 05 BP 263 Lom&eacute;-Togo</span>
            </div>
            <div class="row text-center">
                <span>T&eacute;l : (+228) 22209053 – 22205777</span>
            </div>
            <div class="row text-center">
                <span>R&eacute;f&eacute;rence d&prime;Autorisation N&ordm;019056 MCPSP/DCIC</span>
            </div>
            <div class="row text-center">
                <span>TG LOM 2013 M 25g / 0322225 T / 29099</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row"><span class="col-xs-5">Date :</span><span>@DateTime.Now.ToString("dd/MM/yyyy")</span></div>
            <div class="row"><span class="col-xs-5">Agence :</span><span>Assivito (Lomé)</span></div>
        </div>
    </div>
</body>
</html>
